<div id="<%= dom_id question %>">
    <!-- Title -->
    <h2><%= question.title %></h2>

    <!-- Question -->
    <div>
        <strong>Question:</strong>
        <%= question.body %>
    </div>

    <!-- Answer -->
    <div>
        <strong>Answer:</strong>
        <%= question.answer %>
    </div>
</div>
