<div id="<%= dom_id writing %>">
    
    <!-- Title -->
    <h2><%= writing.title %></h2>

    <!-- Email of User -->
    <h4>submitted by <%= link_to writing.user.name, user_path(writing.user) %> </h4>
    
    <!-- Writing Body -->
    <div>
        <%= writing.body %>
    </div>
</div>
