<div class="container">
    <!-- Heading -->
    <h1>Editing writing</h1>

    <!-- Edit Writing Form -->
    <%= render "form", writing: @writing %>

    <br>

    <div>
        <!-- Show Writing Link -->
        <%= link_to "Show this writing", @writing %> |
        <!-- Back to all Writings Link -->
        <%= link_to "Back to writings", writings_path %>
    </div>
</div>
