<p style="color: green"><%= notice %></p>

<div class="container">
    <!-- Heading  -->
    <h1>Writings</h1>

    <!-- Renders All Writings -->
    <div id="writings">
        <% @writings.each do |writing| %>
        <%= render writing %>
            <p>
                <%= link_to "Show this writing", writing %>
            </p>
        <% end %>
    </div>

    <!-- Add new Writing Link -->
    <%= link_to "New writing", new_writing_path %>
</div>