<%= form_with(model: [question, question.comments.build]) do |f| %>
    <div class="form-control">
        <!-- Comment Form - with Rich Text -->
        <%= f.rich_text_area :body %>

        <!-- Submit Button -->
        <%= f.submit "Reply", class: "btn btn-primary mt-1" %>
    </div>
<% end %>