<div class="container">
    <!-- Intro Section -->
    <h1>Invasion English</h1>
    <p>Bla bla bla bla bla bla</p>

    <!-- Link to Home page -->
    <%= link_to "About Me", about_path,class: "btn btn-secondary" %>

    <!-- Link to Questions page -->
    <%= link_to "Questions", questions_path, class: "btn btn-primary" %>

    <!-- Link to Writings page -->
    <%= link_to "Writings", writings_path, class: "btn btn-primary" %>

    <!-- Link to Writings page -->
    <%= link_to "Forum", rooms_path, class: "btn btn-primary" %>
</div>
